<h3><a href="http://damianflores.es" target="_blank">Damian Flores</a></h3>
<p>Licenciado en Bellas Artes por la Universidad de Murcia con un Master en formación del profesorado por la Universidad Complutense de Madrid, el cual incluye experiencia como docente en el IES San Isidro (La Latina, Madrid).</p>
<p>Titulado como Diseñador Gráfico por el Instituto Europeo di Design (Madrid) y actualmente diseñador gráfico <em>freelance</em>.</p>
<p>Asiduo de talleres que van desde la serigrafía y el grabado, pasando por la pintura, la impresión con plomo & madera, y la encuadernación.</p>
